/* :root {
    --white: #ffffff;
    --black: #000000;
    --blue: #0288d1;
    --gray: #ebebeb;
    --box-shadow1: 0px 0px 18px 2px rgba(10, 55, 90, 0.15);
} */
/*ANIMATIONS DES POINTS DE SUSPENSION DES SKILLS
==============================================================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.spin1 {
  -webkit-animation: spin_anime 1.2s ease-in-out infinite;
          animation: spin_anime 1.2s ease-in-out infinite;
}

.spin2 {
  -webkit-animation: spin_anime 1.2s 0.2s ease-in-out infinite;
          animation: spin_anime 1.2s 0.2s ease-in-out infinite;
}

.spin3 {
  -webkit-animation: spin_anime 1.2s 0.4s ease-in-out infinite;
          animation: spin_anime 1.2s 0.4s ease-in-out infinite;
}

@-webkit-keyframes spin_anime {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.2) translateY(-4px);
            transform: scale(1.2) translateY(-4px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@keyframes spin_anime {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.2) translateY(-4px);
            transform: scale(1.2) translateY(-4px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

/*ANIMATIONS DU HOVER SUR LINKS FOOTER
==============================================================*/
.list-unstyled a {
  position: relative;
  display: inline-block;
  font-size: 28px;
  font-weight: 300;
  color: #666;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  padding: 3px 0;
  margin-bottom: 15px;
}

.list-unstyled a:hover {
  color: #aaa;
}

.list-unstyled a:hover::after, .list-unstyled a:hover::before {
  width: 100%;
  left: 0;
}

.list-unstyled a::after, .list-unstyled a::before {
  content: '';
  position: absolute;
  top: calc(100% + 5px);
  width: 0;
  right: 0;
  height: 3px;
}

.list-unstyled a::before {
  -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #2196f3;
}

.list-unstyled a::after {
  -webkit-transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #2e51af;
}

/*ANIMATIONS DU HOVER SUR IMAGES PORTFOLIO
==============================================================*/
#portfolio a img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#portfolio a:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

body {
  font-family: "Lato", "Roboto", sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

/* .container-fluid {
    padding-left: 0;
    padding-right: 0;
} */
section, footer {
  padding: 45px 0 40px 0;
}

.img-thumbnail {
  max-width: 95%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

#contact {
  margin-top: 200px;
  background-color: #ededed;
  -webkit-box-shadow: 0px -4px 34px -15px #bebee3;
          box-shadow: 0px -4px 34px -15px #bebee3;
}

#contact .white-divider {
  background: #2e51af;
}

#contact .container h2 {
  margin: 50px 0px;
  text-transform: uppercase;
  text-align: center;
  color: #2e51af;
}

.list-unstyled {
  padding-top: 20px;
  text-align: center;
}

.list-unstyled span {
  color: #2e51af;
}

.list-unstyled p {
  display: inline;
  margin-left: 10px;
  color: #4368cd;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#2e51af), color-stop(#3055af), color-stop(#3259ae), color-stop(#355cad), color-stop(#3960ac), color-stop(#4968b0), color-stop(#5771b4), color-stop(#6479b8), color-stop(#7c89c3), color-stop(#939acd), color-stop(#a9acd8), to(#bebee3));
  background: linear-gradient(to bottom, #2e51af, #3055af, #3259ae, #355cad, #3960ac, #4968b0, #5771b4, #6479b8, #7c89c3, #939acd, #a9acd8, #bebee3);
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav .navbar-nav {
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar li a {
  color: #fff;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #3855a3 !important;
  background-color: #fff !important;
}

section .head_banner {
  text-align: center;
  padding-bottom: 40px;
}

#about, .bg-divider {
  background-image: url("../img/background/lioran_crop.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#about img {
  margin-top: 30px;
  max-width: 50%;
  width: 400px;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .8;
  -webkit-box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

#about .head_banner h1 {
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
}

#about .head_banner h2 {
  margin: 10px 0px;
  color: #fff;
}

.profile-picture {
  text-align: center;
  margin: 0 auto;
}

.bg-banniere {
  background-color: #2e51af;
}

.button1 {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 18px 50px;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
  /*     @media (max-width: 2000px) {
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #fff;
        opacity: .7;
        color: $background_main;
    } */
}

.button1:hover {
  background: #fff;
  color: #2e51af;
  text-decoration: none;
}

blockquote {
  position: absolute;
  font-size: 1.4em;
  width: 30%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #2e51af;
  line-height: 1.6;
  background: #ededed;
  border-radius: 3px;
  margin-top: 160px;
  z-index: 1;
  left: 34%;
}

@media screen and (max-width: 449px) {
  blockquote {
    font-size: 1em;
    width: 65%;
    margin-top: 140px;
    left: 18%;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  blockquote {
    font-size: 1em;
    width: 65%;
    margin-top: 170px;
    left: 18%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  blockquote {
    font-size: 1em;
    width: 40%;
    margin-top: 170px;
    left: 30%;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1800px) {
  blockquote {
    font-size: 1em;
    width: 35%;
    margin-top: 170px;
    left: 32%;
  }
}

@media screen and (min-width: 2000px) {
  blockquote {
    font-size: 1.2em;
    width: 25%;
    margin-top: 170px;
    left: 38%;
  }
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #2e51af;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.bg-divider {
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .8;
}

/* #display_quote {
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important;
} */
.head_banner i {
  padding-right: 10px;
}

.d-flex {
  font-weight: bold;
  margin-bottom: 30px;
}

.spinner-border {
  width: 1.3rem;
  height: 1.3rem;
  -webkit-animation: 3.5s linear infinite spinner-border;
          animation: 3.5s linear infinite spinner-border;
}

.spinner-grow {
  width: .5rem;
  height: .5rem;
  margin-left: 5px;
}

#skills {
  margin-top: 100px;
  background: #fff;
}

#skills .head_banner h2 {
  margin-top: 30px;
  color: #2e51af;
  text-transform: uppercase;
}

#skills .progress {
  height: 50px;
  margin: 30px 20px;
  background: #ddd;
}

#skills .progress-bar {
  background: #2e51af;
}

#skills .progress h5 {
  text-shadow: 6px 5px 6px #000;
}

.blue-divider {
  width: 100px;
  height: 2px;
  background: #2e51af;
  margin: 0 auto;
}

#experience {
  margin-top: 100px;
}

:focus {
  outline: 0px solid transparent !important;
}

.timeline {
  padding: 50px 0;
  position: relative;
}

.timeline-nodes {
  padding-bottom: 25px;
  position: relative;
}

.timeline-nodes:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.timeline h3,
.timeline p {
  padding: 5px 15px;
}

.timeline-content h4 {
  padding: 5px 15px;
}

.timeline h3 {
  font-weight: lighter;
  background: #2e51af;
  text-align: left;
}

.timeline h4 {
  background: #637280;
  opacity: .7;
  font-style: italic;
  font-size: 1.3em;
  font-weight: lighter;
  text-align: left;
}

.timeline time {
  color: #2e51af;
  text-decoration: underline;
}

.timeline li {
  padding: 0px 10px;
  color: #2e51af;
  list-style-type: none;
  text-align: left;
  font-weight: bold;
}

.timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  border-left: 2px dashed #2e51af;
  height: 100%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-content {
  border: 1px solid #2e51af;
  position: relative;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
          box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
  background-color: #fff;
}

.timeline-nodes:nth-child(odd) h3
.timeline-nodes:nth-child(odd) p {
  text-align: right;
}

.timeline-nodes:nth-child(odd) .timeline-date {
  text-align: left;
}

.timeline-nodes:nth-child(even) .timeline-date {
  text-align: right;
}

.timeline-nodes:nth-child(odd) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 100%;
  width: 0;
  border-left: 10px solid #2e51af;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-nodes:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  width: 0;
  border-right: 10px solid #2e51af;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-image {
  position: relative;
  z-index: 100;
}

.timeline-image::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px dashed #2e51af;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1;
}

.timeline-image img {
  position: relative;
  z-index: 100;
}

#exp_responsive {
  width: 90%;
  /* border: 1px solid #000; */
  border-radius: 5px;
  /* box-shadow: 2px 3px 4px; */
  background-color: #ededed;
}

#experience .head_banner h2 {
  margin-top: 30px;
  color: #2e51af;
  text-transform: uppercase;
}

#exp_responsive img {
  border-radius: 50%;
}

.timeline .row > * {
  padding-right: 0;
  padding-left: 0;
  margin-right: 10px;
}

/*small device style*/
@media (max-width: 767px) {
  .timeline-nodes:nth-child(odd) h3,
  .timeline-nodes:nth-child(odd) p {
    text-align: left;
  }
  .timeline-nodes:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed #2e51af;
    height: 100%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .timeline h3 {
    font-size: 1.7rem;
    text-align: left;
  }
  .timeline p {
    font-size: 14px;
  }
  .timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
  }
  .timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid #2e51af;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid #2e51af;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
  }
  .timeline-image::before {
    width: 65px;
    height: 65px;
  }
}

/*extra small device style */
@media (max-width: 575px) {
  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
  }
  .timeline-image {
    position: absolute;
    left: -5%;
  }
  .timeline-image::before {
    width: 60px;
    height: 60px;
  }
}

#portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(#2e51af), color-stop(#3055af), color-stop(#3259ae), color-stop(#355cad), color-stop(#3960ac), color-stop(#4968b0), color-stop(#5771b4), color-stop(#6479b8), color-stop(#7c89c3), color-stop(#939acd), color-stop(#a9acd8), to(#bebee3));
  background: linear-gradient(to bottom, #2e51af, #3055af, #3259ae, #355cad, #3960ac, #4968b0, #5771b4, #6479b8, #7c89c3, #939acd, #a9acd8, #bebee3);
}

#portfolio .head_banner h2 {
  color: #fff;
}

#portfolio .zoom {
  width: auto;
  height: auto;
  background: #fff;
  overflow: hidden;
  margin: 30px 0px;
  -webkit-box-shadow: 5px -3px 7px 5px #fff;
          box-shadow: 5px -3px 7px 5px #fff;
}

#portfolio .zoom:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (max-width: 576px) {
  #portfolio .zoom {
    width: 90%;
    margin: 30px auto;
  }
}

#portfolio .head_banner h2 {
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
}

.white-divider {
  width: 100px;
  height: 2px;
  background: #bebee3;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .row {
    margin-left: 0;
  }
}

#text {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.zoom:hover #text {
  opacity: 1;
}

img:hover {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
/*# sourceMappingURL=styles.css.map */