#portfolio {
    background: linear-gradient(to top, #b1d0f5, #96C2FA);
    margin-top: 40px;
}

#portfolio .head_banner h2 {
    color: #fff;
}

#portfolio .zoom-overlay {
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: auto;
    background: #fff;
    overflow: hidden;
    margin: 30px 0px;
    /* box-shadow: 5px -3px 7px 5px #fff; */

    &:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    @media screen and (max-width: 576px) {
        width: 90%;
        margin: 30px auto;
    }
}

#portfolio .head_banner h2 {
    margin-top: 30px;
    color: $background_main;
    text-transform: uppercase;
}

#portfolio .row {
    @media screen and (max-width: 576px) {
        margin-left: 0;
    }
}
#portfolio .img
img:hover {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.overlay_top,
.overlay_bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 20px;
    width: 100px;
    height: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.overlay_top:hover,
.overlay_bottom:hover {
    @media screen and (max-width: 425px) {
        width: 250px;
        height: 100px;
    }
}
.overlay_top {
    top: 25%;
    left: 50%;  
}
.overlay_bottom {
    top: 75%;
    left: 50%;
}
.icon_top_display, .overlay_bottom a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.icon_bottom_display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text_techno1{
    display: flex;
    justify-content: space-between ;
}
.text_bottom {
    padding-left: 10px;
}
.text_top_second,
.text_techno1,
.text_techno2,
.text_techno3 {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 0 auto;
    color: #fff;
}
.text_top,
.text_top_second,
.text_bottom,
.text_icon2,
.overlay_top .bi,
.overlay_bottom .bi {
    display: none;
    color: #fff;
    opacity: 0;
    font-size: large;
}
.zoom-overlay:hover .text_top,
.zoom-overlay:hover .text_top_second,
.zoom-overlay:hover .text_bottom,
.zoom-overlay:hover .text_icon2,
.zoom-overlay:hover .text_technos,
.zoom-overlay:hover .overlay_top,
.zoom-overlay:hover .overlay_bottom,
.zoom-overlay:hover .overlay_top .bi,
.zoom-overlay:hover .overlay_bottom .bi {
    opacity: 1;
}
.low-res_display {
    display: none;
    justify-content: center;
}