#form {
    margin: 70px 0px;
    background: linear-gradient(to bottom, #5771b4, #6479b8, #7c89c3, #939acd, #a9acd8, #bebee3);
    //background: darken(#B8D2EE, 25%);
}
#form .heading h2 {
    margin-top: 20px;
    color: #fff;
}
#contact-form {
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}
.blue {
    color: $background_main;
}
.form-control {
    height: 50px;
    font-size: 18px;
}
.comments {
    height: 25px;
    font-style: italic;
    font-size: 13px;
    color: #d82c2e;
}
#contact-form input[type=submit] {
    display: block;
    margin: 40px auto 0px;
}
#contact-form input[placeholder], #contact-form textarea[placeholder] {
    font-style: italic;
    font-size: 16px;
}
.form_button {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: $background_header_reverse;
    color: #fff;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease-in 0s;
}
.form_button:hover {
    background: #333;
    border-color: $background_header_reverse;
}
.thanks {
    display: none;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}