.heading i {
    padding-right: 10px;
}
.spinner-border {
   width: 1.3rem;
   height: 1.3rem;
   animation: 3.5s linear infinite spinner-border; 
}
.spinner-grow {
    width: .5rem;
    height: .5rem;
    margin-left: 5px;
}