section .head_banner {
    text-align: center;
    padding-bottom: 40px;
}

#about, .bg-divider {
    background-image: url("../img/background/lioran_crop.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#about img {
    margin-top: 90px;
    margin-bottom: 20px;
    max-width: 50%;
    width: 200px;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
    box-shadow: .5rem 1rem rgba(#000, .7);
}

#about .head_banner h1 {
    margin: 40px 0px;
    color: #fff;
    letter-spacing: .6em;
}

#about .head_banner h2 {
    margin: 20px 0px;
    color: #fff;
}
#about .head_banner h3 {
    margin: 40px 0px;
    color: #fff;
    text-transform: uppercase;
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
}

.bg-banniere {
    background-color: $background_main;
}

.button1 {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all .3s ease-in 0s;
}

.button1:hover {
    background: #fff;
    color: $background_main;
    text-decoration: none;
}