@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

blockquote {
    position: absolute;
    font-size: 1.4em;
    width: 30%;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid $background_main;
    line-height: 1.6;
    background: #ededed;
    border-radius: 3px;
    margin-top: 160px;
    z-index: 1;
    left: 34%;

    @media screen and (max-width: 449px) {
        font-size: 1em;
        width: 72%;
        margin-top: 102px;
        left: 13%;
    }

    @media screen and (min-width: 450px) and (max-width: 767px) {
        font-size: 1em;
        width: 65%;
        margin-top: 116px;
        left: 18%;
    }

    @media screen and (min-width: 768px) and (max-width: 1400px) {
        font-size: 1em;
        width: 48%;
        margin-top: 109px;
        left: 25%;
    }

    @media screen and (min-width: 1401px) and (max-width: 1800px) {
        font-size: 1em;
        width: 27%;
        margin-top: 113px;
        left: 36%;
    }

    @media screen and (min-width: 1801px) {
        font-size: 1.2em;
        width: 28%;
        margin-top: 105px;
        left: 36%;
    }
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: $background_main;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: '';
}

blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

.bg-divider {
    height: 250px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
}

.bg-divider-bottom {
    height: 250px;
    background-image: url("../img/background/foia2.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

#quote_bottom blockquote {

    @media screen and (max-width: 449px) {
        font-size: .8em;
        width: 75%;
        margin-top: 95px;
        left: 13%;
    }

    @media screen and (min-width: 450px) and (max-width: 767px) {
        font-size: 1em;
        width: 65%;
        margin-top: 78px;
        left: 18%;
    }

    @media screen and (min-width: 768px) and (max-width: 1400px) {
        font-size: 1em;
        width: 64%;
        margin-top: 99px;
        left: 18%;
    }

    @media screen and (min-width: 1401px) and (max-width: 1800px) {
        font-size: 1em;
        width: 65%;
        margin-top: 117px;
        left: 16%;
    }

    @media screen and (min-width: 1801px) {
        font-size: 1.2em;
        width: 66%;
        margin-top: 105px;
        left: 17%;
    }
}