.head_banner i {
    padding-right: 10px;
}
.d-flex {
    font-weight: bold;
    margin-bottom: 30px;
}
.spinner-border {
   width: 1.3rem;
   height: 1.3rem;
   animation: 3.5s linear infinite spinner-border; 
}
.spinner-grow {
    width: .5rem;
    height: .5rem;
    margin-left: 5px;
}
#skills {
    margin-top: 100px;
    background: #fff;
    @media (max-width: 767px) {
        margin-top: 20px;
    }
}
#skills .head_banner h2 {
    margin-top: 30px;
    color: $background_main;
    text-transform: uppercase;
}
#skills .progress {
    height: 50px;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar {
    background: $background_main;
}
#skills .progress h3 {
    text-shadow: 6px 5px 6px #000;
}
.blue-divider {
    width: 100px;
    height: 2px;
    background: $background_main;
    margin: 0 auto;
}