#portfolio {
    background: linear-gradient(to top, #b1d0f5, #96C2FA);
    margin-top: 40px;
}

#portfolio .head_banner h2 {
    color: #fff;
}

#portfolio .zoom {
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: auto;
    background: #fff;
    overflow: hidden;
    margin: 30px 0px;
    /* box-shadow: 5px -3px 7px 5px #fff; */

    &:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    @media screen and (max-width: 576px) {
        width: 90%;
        margin: 30px auto;
    }
}

#portfolio .head_banner h2 {
    margin-top: 30px;
    color: $background_main;
    text-transform: uppercase;
}

#portfolio .row {
    @media screen and (max-width: 576px) {
        margin-left: 0;
    }
}
#portfolio .img
img:hover {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
#overlay_top,
#overlay_bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 20px;
    width: 100px;
    height: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    @media screen and (max-width: 425px) {
        width: 250px;
        height: 150px;
    }
}
#overlay_top {
    top: 25%;
    left: 50%;  
}
#overlay_bottom {
    top: 75%;
    left: 50%;
}
#text,
#text_icon,
#text2,
#text_icon2 {
    display: none;
    color: #fff;
    opacity: 0;
}
.zoom:hover #text,
.zoom:hover #text_icon,
.zoom:hover #text2,
.zoom:hover #text_icon2,
.zoom:hover #overlay_top,
.zoom:hover #overlay_bottom {
    opacity: 1;
}