section .head_banner {
    text-align: center;
    padding-bottom: 40px;
}
.about {
    padding-top: 100px;
    background: url("../img/background/lioran_crop.jpg");
    background-size: cover;
}
.about img {
    max-width: 50%;
    width: 400px;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
    box-shadow:  .5rem 1rem rgba(#000, .7);
}
.about .head_banner h1 {
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
}
.about .head_banner h3 {
    color: #fff;
}
.profile-picture {
    text-align: center;
    margin: 0 auto;
}
.bg-banniere {
    background-color: $background_main;
}
.button1 {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #fff;
    margin-top: 10px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all .3s ease-in 0s;
    @media (max-width: 2000px) {
        width: 300px;
        margin-top: 150px;
        margin-bottom: 50px;
        background-color:#fff;
        opacity: .7;
        color: $background_main;
    }
}
.button1:hover {
    background: #fff;
    color: $background_main;
    text-decoration: none;
}
