@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

blockquote {
    position: absolute;
    font-size: 1.4em;
    width: 30%;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid $background_main;
    line-height: 1.6;
    background: #ededed;
    border-radius: 3px;
    margin-top: 160px;
    z-index: 1;
    left: 34%;
    @media screen and (max-width: 449px) {
        font-size: 1em;
        width: 65%;
        margin-top: 140px;
        left: 18%;
    }
    @media screen and (min-width: 450px) and (max-width: 767px) {
        font-size: 1em;
        width: 65%;
        margin-top: 170px;
        left: 18%;
    }
    @media screen and (min-width: 768px) and (max-width: 1400px) {
        font-size: 1em;
        width: 40%;
        margin-top: 170px;
        left: 30%;
    }
    @media screen and (min-width: 1401px) and (max-width: 1800px) {
        font-size: 1em;
        width: 35%;
        margin-top: 170px;
        left: 32%;
    }
    @media screen and (min-width: 2000px) {
        font-size: 1.2em;
        width: 25%;
        margin-top: 170px;
        left: 38%;
    }
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: $background_main;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: '';
}

blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}
.bg-divider {
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
}
/* #display_quote {
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important;
} */
blockquote {
    
}