$background_main: #2e51af;
$background_header: linear-gradient(to right, #324f9e, #3d5eac, #4367af, #4b6db5, #5d7dc2, #6588c6);
$background_header_reverse: linear-gradient(to left, #324f9e, #3d5eac, #4367af, #4b6db5, #5d7dc2, #6588c6);
$color: #637280;
$background_gradient: linear-gradient(to bottom, #2e51af, #3055af, #3259ae, #355cad, #3960ac, #4968b0, #5771b4, #6479b8, #7c89c3, #939acd, #a9acd8, #bebee3);