#contact {
    margin-top: 150px;
    background-color: #ededed;
    box-shadow: 0px -4px 34px -15px #bebee3;
}
#contact .white-divider {
    background: $background_main;
}
#contact .container h2 {
    margin: 30px 0px;
    text-transform: uppercase;
    text-align: center;
    color: $background_main;
}
.list-unstyled {
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
}